{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}NQAS answer{% endblock %}

{% block content %}
<div class="container">
  <h1><center>Natural Question Answering System</center></h1>
  <hr>

<center>

  <h2>Question</h2>
  <div class="well">
  {{ question }}
</div>
  <h2 style="color:#0000ff;">Answer</h2>
  </center>

  <div class="well well-sm">
  <p style="white-space: pre-line">
  {{ answer }}
</p>
</div>

<center>
  <br>

  <a href = "/" class = "btn btn-info" role="button">Ask another question</a>
  <br>
  <br>
  <p><center>Not satisfied with the page retrieved? Enter the page you want to search within:</center></p>

  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
</center>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
